.mainContent {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    padding: 2rem 5em;
    column-gap: 3rem;
}

.mainContent section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.mainContent > h3 {
    padding-bottom:2rem;
}


aside > h3 {
    margin-bottom: 40px;
}

.recentPostCard {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2.5rem;

}

.recentPostCard h2 {
    margin-bottom: 1rem;
}

.recentImage {
    width: 400px;
    height: 250px;
    background-color: #D9D9D9;
    border-radius: 7px;
    margin-bottom: 1rem;
}


/* STATISTICS SECTION */
.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 60px;
}
.stats_container {
    padding: 25px;
    justify-content: center;
    text-align: center;
    background-color: #dff1f0;
    border-radius: 5px;
}

.stats_container p:first-child {
    font-weight: bold;
    color: #00aaa1;
    font-size: 25px;
}

.stats_container p:last-child {
    font-size: smaller;
}


/* SEARCH TAGS */
.searchTags {
    display: flex;
    flex-wrap: wrap;
}

.searchTags > p {
    display: inline;
    font-size: 15px;
    color: #666666;
    padding: 10px 20px;
    border: 1px solid #777777;
    border-radius: 5px;
    margin: 0 20px 10px 0;
}

.searchTags > p:hover {
    cursor: pointer;
    background-color: #00aaa1;
    color: #ffff;
    border: none;
}