footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    background-color: #f2f8f7;
}

footer > p {
    font-size: 12px;
    text-align: center;
    margin: 14px;
}
.mainFooter {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr 2fr;
    padding: 5rem 7rem;
    column-gap: 110px;
}

.mainFooter h3 {
    margin-bottom: 24px;
}

.mainFooter p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 150%;
}

.mainFooter input {
    width: 250px;
    height: 45px;
    color: #777777;
    padding: 15px 22px;
    background-color: #DFF1F0;
    border-radius: 6px 0 0 6px;
    border: none;
}

.mainFooter input:focus {
    outline-color: #00AAA1;
    outline-width: 1px;
}

.mainFooter section > div > button {
    height: 45px;
    padding: 15px 42px;
    color: #ffffff;
    background-color: #00AAA1;
    border-radius: 0px 6px 6px 0px;
    margin-left: -2px;
    margin-bottom: 25px;
}

footer .authorSocial button i {
    padding: 5px 6px;
    background: transparent;
}

footer .authorSocial button {
    margin: 9px;
}

footer  hr{
    color: #D1E7E5;
}
.followUs {
    margin-bottom: 5px !important;
}